<div class="home">
  <h2>Home</h2>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Menu1</mat-card-title>
      <mat-card-subtitle>Submenu1</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Menu2</mat-card-title>
      <mat-card-subtitle>Submenu2</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Menu3</mat-card-title>
      <mat-card-subtitle>Submenu3</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Menu4</mat-card-title>
      <mat-card-subtitle>Submenu4</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>

</div>