<form class="example-form">
  <mat-form-field class="example-full-width">
      <mat-label>Login</mat-label>
    <input matInput name="login" type="text">
  </mat-form-field>

  <mat-form-field class="example-full-width" >
      <mat-label>Senha</mat-label>
    <input matInput name="senha" type="password">
  </mat-form-field>

  <button class="btn btn-block btn-primary">LOGIN</button>
  <div class="forgot">
    <small><a href="#">Esqueceu sua senha?</a></small>
    <strong><a href="#">Criar Conta</a></strong>
  </div>
</form>